<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ショッピングカート</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/piza.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/item}">
              <!-- 企業ロゴ -->
              <img
                alt="main log"
                th:src="@{/img_noodle/logo.png}"
                height="70"
              />
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse"
            id="bs-example-navbar-collapse-1"
          >
            <p class="navbar-text navbar-right">
            
            <!-- マイページ -->
              <span th:unless="${session.user == null}">
              <a th:href="@{/mypage/toMypage}">
              <img alt="cart" th:src="@{/img_noodle/mypage.png}">
              </a>
              </span>&nbsp;&nbsp;


              
              <!-- 注文履歴 -->
               <a th:href="@{/orderHistory}">
              <img alt="cart" th:src="@{/img_noodle/orderHistory.png}">
              </a>&nbsp;&nbsp;
                            
              <!-- ランキング -->
              <a th:href="@{/orderRanking/showTotalRanking}">
              <img alt="cart" th:src="@{/img_noodle/ranking.png}">
              </a>&nbsp;&nbsp;
              
              <!-- ログイン/ログアウト -->
              <span th:if="${session.user == null}">
              <!-- ログイン -->
              <a th:href="@{/user/toLogin}">
              <img alt="login" th:src="@{/img_noodle/login.png}">
              </a></span>&nbsp;&nbsp;
              
              <span th:unless="${session.user == null}">
              <!-- ログアウト -->
              <a th:href="@{/user/logout}">
              <img alt="logout" th:src="@{/img_noodle/logout.png}">
              </a></span>

            </p>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <!-- table -->
      <div class="row">
        <div
          class="
            table-responsive
            col-lg-offset-1
            col-lg-10
            col-md-offset-1
            col-md-10
            col-sm-10
            col-xs-12
          "
        >
          <h3 class="text-center">ショッピングカート</h3>
          <!-- <span th:text="${session.subTotalList[0]}"></span> -->
          <br><br><br><br><h2 class="text-center">カートに商品がありません</h2>
     	<br><br><br>
       	 
    	
    	<!-- 元の位置 -->
      <div class="row">
        <div class="col-xs-offset-5 col-xs-3">
          <div class="form-group">
            <form th:action="@{/item}" action="order_confirm.html">
              <input
                class="form-control btn btn-warning btn-block"
                type="submit"
                value="商品一覧へ"
              />
            </form>
          </div>
        </div>
      </div>
       
       <br><br>
       <!-- 人気商品リスト -->
         <div class="orderHistorySection2">
         	<h3>こちらの商品はいかがですか？</h3>
         	
         	<table border="1">
         		<tr>
         		  	<div th:each="item,status:${application.topFivePopularItems}" border="1">
         			<th>
         				<span th:text="'人気第'+${status.index+1}+'位'"></span>
         			</th>
         			<td  align="center">
         				<img
                      	th:src="@{/img_noodle/}+${item.imagePath}"
                      	src="../static/img_pizza/1.jpg"
                      	class="img-responsive img-rounded item-img-center"
                 		width="300"
                      	height="300"
               			/>
         				<span th:text="${item.name}"></span><br>
                  	 <form class="text-center"  th:action="@{/item/showDetail}" method="post" >
                  		<input type="hidden" name="id" th:value="${item.id}">
                    	<button class="btn btn-primary" name="id" th:value="${item.id}">商品詳細画面へ</button>
                 	 </form>
                	</td>
                	</div>
                </tr>
         	</table>
         	<br><br><br>
         	</div>  
     </div>
     </div>
    
    <!-- end container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>

















